# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Heavy HQ HDR skyboxes
/textures/blue_grotto_4k.hdr
/textures/cayley_interior_4k.hdr
/textures/flower_road_4k.hdr
/textures/schadowplatz_4k.hdr

# Misc
/deps
/x64
/.vs
/jewel_jumper.ini
/gem_studio.ini
/VSUserSettings.props
/JewelJumper.vcxproj.user
/textures/_origSkybox
/CodeStats.jar
/0_RENDERDOC.cap
/Resource.aps
